Thumbs.db
git.readme.txt

*.bmp
*.jpg
*.tga
*.dds
*.png

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.max
.vs/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
packages/
*.lib
*.sbr
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/